@media (max-width: 768px) {
  .Nav-Container {
    width: 768;
    display: flex;
    align-items: center;
}

.nav-text {
    color: #2E4374;
    margin: 0; 
    padding: 7px; 
    font-size: 18px; 
    font-style: Bold;
    font-weight: 600px;
}

.nav-text:hover {
  text-decoration: underline;
}


.p{
  color: #2E4374;
  font-size: 20px;
  font-style: bold;
  font-weight: 600px;
}
  }