@media (max-width: 768px) {
    .Post {
        margin-bottom: 6px;
        height: 60px;
        
        display: flex;
        flex-direction: column;

        text-align: center;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*그림자*/

        background-color: white;
    }

    .Post-Text {
        padding-top: 8px;
        font-size: 20px;
        font-style: bold;
        font-weight: 600;
        color: #2E4374;
    }
  
    .Title-Text {
        font-size: 12px;
        font-style: bold;
        font-weight: 600;
        color: #2E4374;
    }

    .Post-Box {
        display: flex;
        flex-direction: column;

        border-radius: 20px;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*그림자*/

        background-color: white;
    }

    .Post-Publisher {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
        font-style: bold;
        font-weight: 600;
        color: #2E4374;
    }

    .Post-Time {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 3vw;
        color: #2E4374;
    }

    .Post-ContentTitle {
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        font-style: bold;
        font-weight: 600;
    }

    .Post-Content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        word-wrap: break-word; /* 긴 단어를 적절히 줄바꿈 */
        overflow-wrap: break-word; /* 긴 단어를 줄바꿈 (구형 브라우저용) */
        white-space: pre-line; /* 줄바꿈 문자와 공백을 그대로 유지 */
    }

    .Comment {
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid #bbbbbb;
    }

    .Comment-Writer {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-style: bold;
        font-weight: 600;
        font-size: 16px;
    }

    .Comment-Content {
        margin-top: 3px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
    }

    .Comment-Time {
        margin-top: 3px;
        margin-left: 22px;
        margin-bottom: 10px;
        font-size: 3vw;
    }

    .Comment-inputBox {
        position: fixed;
        bottom: 0; /* 하단에 고정 */
        left: 50%;
        transform: translateX(-50%); /* 수평 중앙 정렬 */
    
        background-color: white;

        width: 100%;
        height: 65px;
    
        display: flex; /* 수평 가운데 정렬을 위해 */

        align-items: center; /* 수직 가운데 정렬을 위해 */
    }

    .Comment-input {
        width: 100%; /* 원하는 너비로 설정 */
        max-width: 71%; /* 최대 너비 설정 */

        margin-left: 10px;
        padding: 10px; /* 내부 여백 설정 */

        font-size: 16px; /* 글꼴 크기 설정 */

        border: 1px solid #ccc; /* 테두리 설정 */
        border-radius: 15px; /* 테두리 둥글게 설정 */
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* 내부 그림자 설정 */
        transition: border-color 0.3s, box-shadow 0.3s; /* 포커스 시 애니메이션 설정 */
    }

    .Comment-input:focus {
        border-color: #2E4374; /* 포커스 시 테두리 색상 변경 */
        box-shadow: 0 0 8px rgba(46, 67, 116, 0.3); /* 포커스 시 그림자 설정 */
        outline: none; /* 포커스 시 기본 테두리 제거 */
    }

    .Comment-input::placeholder {
        color: #aaa; /* 플레이스홀더 텍스트 색상 설정 */
    }

    .Send-Button {
        margin-left: 20px;

        display: flex; /* 요소들을 수직으로 정렬하기 위해 */
        justify-content: center; /* 수평 중앙 정렬 */
        line-height: 140%;

        height: 70%;
        width: 13%;
        border-radius: 10px;

        cursor: pointer;

        background: #2E4374;

        font-size: 30px;
        color: white;
    }
    
}