.App {
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: #f7f7f7; /* 배경색을 여기에 원하는 색상 코드로 지정합니다. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
}